# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

test.c
.VSCodeCounter/2025-05-10_09-44-42/details.md
.VSCodeCounter/2025-05-10_09-44-42/diff-details.md
.VSCodeCounter/2025-05-10_09-44-42/diff.csv
.VSCodeCounter/2025-05-10_09-44-42/diff.md
.VSCodeCounter/2025-05-10_09-44-42/diff.txt
.VSCodeCounter/2025-05-10_09-44-42/results.csv
.VSCodeCounter/2025-05-10_09-44-42/results.json
.VSCodeCounter/2025-05-10_09-44-42/results.md
.VSCodeCounter/2025-05-10_09-44-42/results.txt
